<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Flutter tools need INTERNET for hot reload / breakpoints -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Autoriser HTTP vers le backend local (XAMPP) en mode debug -->
    <application android:usesCleartextTraffic="true" />
</manifest>
